<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">{{ 'IMDBKNOCKOFF' | translate }}</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active" *ngFor="let item of routesList">
                    <a
                        class="nav-link"
                        [routerLink]="[item.route]"
                        routerLinkActive="router-link-active"
                    >
                        {{ 'NAV.' + item.label | translate }}
                    </a>
                </li>
            </ul>
        </div>
        <mat-button-toggle-group
            name="language"
            #group="matButtonToggleGroup"
            aria-label="Language"
            [value]="currentLang"
            (change)="changeLang(group.value)"
        >
            <mat-button-toggle value="en">EN</mat-button-toggle>
            <mat-button-toggle value="pt">PT</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</nav>
