.movie-card {
    display: flex;
    gap: 15px;
    justify-content: space-between;

    &:hover {
        a {
            display: block;
        }
    }

    .details {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    a {
        display: none;
        cursor: pointer;
    }
}
