<div class="container">
    <form class="form-inline my-2 my-lg-0 search-container" (ngSubmit)="search(searchValue)">
        <input
            class="form-control mr-sm-2"
            type="search"
            name="search"
            [(ngModel)]="searchValue"
            #searchField="ngModel"
            placeholder="{{ 'MOVIES.SEARCH_EXAMPLE' | translate }}"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
            {{ 'MOVIES.SEARCH' | translate }}
        </button>
    </form>
    <div class="row">
        <div class="col-md-9 col-12 text-light">
            <h5 *ngIf="searchDetails.length === 0 && searchErrorMessage.length > 0">
                {{ searchErrorMessage | translate }}
            </h5>
            <table mat-table [dataSource]="searchDetails" matSort *ngIf="searchDetails.length > 0">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ 'MOVIES.DETAILS.TITLE' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.Title }}</td>
                </ng-container>
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ 'MOVIES.DETAILS.YEAR' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.Year }}</td>
                </ng-container>
                <ng-container matColumnDef="commands">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-secondary" (click)="addRemoveFavorite(element)">
                            *
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    (click)="movieDetails(row)"
                ></tr>
            </table>
        </div>
        <div class="col-md-3 col-12 text-light" *ngIf="favorites.length > 0">
            <h5>{{ 'MOVIES.FAVORITES' | translate }}</h5>
            <div class="row" *ngFor="let favorite of favorites">
                <span>{{ favorite.Title }}</span>
            </div>
        </div>
    </div>
</div>
