.container {
    padding-top: 15px;

    .search-container {
        display: flex;
        gap: 20px;
    }

    .favorites-header {
        margin-top: 10px;
    }

    table {
        width: 100%;
    }
}
