.container {
    padding-top: 15px;

    .search-container {
        display: flex;
        gap: 20px;
    }

    h5 {
        margin-top: 17px;
    }

    table {
        width: 100%;
    }
}
