<div class="container">
    <form class="form-inline my-2 my-lg-0 search-container" (ngSubmit)="search(searchValue)">
        <input
            class="form-control mr-sm-2"
            type="search"
            name="search"
            [(ngModel)]="searchValue"
            #searchField="ngModel"
            placeholder="{{ 'MOVIES.SEARCH_EXAMPLE' | translate }}"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
            {{ 'MOVIES.SEARCH' | translate }}
        </button>
    </form>
    <div class="row">
        <div class="col-md-8 col-12 text-light search-results-container">
            <div class="row" *ngIf="searchDetails.length === 0 && searchErrorMessage.length > 0">
                <div class="col-12">
                    <h5>
                        {{ searchErrorMessage | translate }}
                    </h5>
                </div>
            </div>
            <div class="row mt-2 search-result" *ngFor="let result of searchDetails">
                <div class="col-md-1 col-12">
                    <img class="poster" src="{{ result.Poster }}" alt="{{ result.Title }}" />
                </div>
                <div
                    class="col-md-7 col-12 offset-md-1 d-flex align-items-center link"
                    (click)="movieDetails($event, result)"
                >
                    <span>{{ result.Title }} ({{ result.Year }})</span>
                </div>
                <div
                    class="col-md-1 col-12 d-flex align-items-center"
                    (click)="toggleFavorite(result)"
                >
                    <mat-icon
                        [attr.title]="
                            (result.Favorite
                                ? 'MOVIES.SET_AS.UNFAVORITE'
                                : 'MOVIES.SET_AS.FAVORITE'
                            ) | translate
                        "
                        >{{ result.Favorite ? 'favorite' : 'favorite_border' }}</mat-icon
                    >
                </div>
                <div
                    class="col-md-1 col-12 d-flex align-items-center"
                    (click)="toggleWatched(result)"
                >
                    <mat-icon
                        [attr.title]="
                            (result.Watched ? 'MOVIES.SET_AS.UNWATCHED' : 'MOVIES.SET_AS.WATCHED')
                                | translate
                        "
                        >{{ result.Watched ? 'close' : 'done' }}</mat-icon
                    >
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 text-light">
            <h3>{{ 'MOVIES.FAVORITES' | translate }}</h3>
            <span class="row favorites-container" *ngIf="favorites.length === 0">
                <div class="col-12 d-flex align-items-center">
                    {{ 'MOVIES.NO_FAVORITES' | translate }}
                </div>
            </span>
            <div class="row favorites-container" *ngIf="favorites.length > 0">
                <div class="row favorite-card" *ngFor="let favorite of favorites">
                    <div
                        class="col-md-10 col-12 d-flex align-items-center link"
                        (click)="movieDetails($event, favorite)"
                    >
                        <span>{{ favorite.Title }} ({{ favorite.Year }})</span>
                    </div>
                    <div class="col-md-2 col-12 d-flex align-items-center">
                        <mat-icon (click)="removeFavorite(favorite)">close</mat-icon>
                    </div>
                </div>
            </div>
            <h3 class="mt-4">{{ 'MOVIES.WATCHED' | translate }}</h3>
            <span class="row watched-container" *ngIf="watchedMovies.length === 0">
                <div class="col-12 d-flex align-items-center">
                    {{ 'MOVIES.NO_WATCHED' | translate }}
                </div>
            </span>
            <div class="row watched-container" *ngIf="watchedMovies.length > 0">
                <div class="row watched-card" *ngFor="let movie of watchedMovies">
                    <div
                        class="col-md-10 col-12 d-flex align-items-center link"
                        (click)="movieDetails($event, movie)"
                    >
                        <span>{{ movie.Title }} ({{ movie.Year }})</span>
                    </div>
                    <div class="col-md-2 col-12 d-flex align-items-center">
                        <mat-icon (click)="removeWatched(movie)">close</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
