.container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .search-results-container {
        max-height: 87vh;
        overflow: auto;
    }

    .search-container {
        display: flex;
        gap: 20px;
    }

    h5 {
        margin-top: 17px;
    }
    .search-result {
        &:hover {
            background-color: rgb(0 11 20 / 73%);
        }
        .poster {
            width: 50px;
        }

        mat-icon {
            @extend .link;
        }
    }

    .link {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .favorites-container {
        max-height: 320px;
        overflow: auto;

        .favorite-card {
            min-height: 30px;
            &:hover {
                mat-icon {
                    display: block;
                }
            }

            .details {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }

            mat-icon {
                display: none;
                cursor: pointer;
                font-size: 1rem;
            }
        }
    }

    .watched-container {
        @extend .favorites-container;
        .watched-card {
            min-height: 30px;

            &:hover {
                mat-icon {
                    display: block;
                }
            }

            mat-icon {
                display: none;
                cursor: pointer;
                font-size: 1rem;
            }
        }
    }

    h3 {
        color: rgb(212, 209, 209);
    }
}
